<div class="favorites-wrapper-index">
  <div class="container">
    <div class="col-md-offset-2 col-md-8 favorites">
        <h1>Favorites</h1>
        <% @favorites_articles.each do |article| %>
          <div class="article">
            <%= image_tag article.user.img.url, class: 'user-img' %>
            <%= link_to article.user.name, user_path(article.user.id) %>
            <%= link_to article.title, article_path(article.id) %>
            <p><%= l article.updated_at %></p>
          </div>
        <% end %>
    </div>
  </div>
</div>
