<div class="tags-show-wrapper">
  <div class="container">
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-8 tags">
          <h1><%= @tag.name %></h1>
          <% @articles.each do |article| %>
            <div class="article">
              <%= link_to article.title, article_path(article.id) %>
              <p class="text-gray article-updated"><%= l article.updated_at %></p>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
