* {
  box-sizing: border-box;
}

h1,h2,h3,li {
  font-weight: 250;
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  display: inline;
  vertical-align: middle;
  color: gray;
}

p {
  margin: 0;
}

.text-white {
  color: #FFFFEE;
}

.text-gray {
  color: gray;
}

// nav
.navbar-transparent {
  height: 50px;
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);

  .container {
    padding-top: 0;
  }

  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
}

/* btn */
.btn-white {
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.btn-favorite {
  color: gray;
  border: 1px solid gray;
}

.btn-favorited {
  color: #fff;
  background: gray;
}

/* follow-form */
#follow_form {
  margin-top: 15px;
}

.btn-primary {
  background-color: black;
}

/* user-img */
.user-img {
  width: 50px;
  height: 50px;
  border: 1px solid #C0C0C0;
  border-radius: 50px;
  object-fit: cover;
}

/* background */
.top-pages-wrapper,
.users-index-wrapper,
.users-new-wrapper,
.users-show-wrapper,
.users-show_follow-wrapper,
.users-edit-wrapper,
.sessions-new-wrapper,
.articles-new-wrapper,
.articles-show-wrapper,
.articles-edit-wrapper,
.tags-show-wrapper,
.favorite-wrapper-index,
.article-index-wrapper,
.communities-new-wrapper {
  width: 100vw;
  height: 100vh;
  background: image-url('stone_00090.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

/*-------------------------------*/
/* users-index */
.user-prolife-wrapper {
  background-color: #fff;
  padding: 15px;
}

.container {
  padding-top: 110px;
  h1 {
    font-size: 45px;
    margin-bottom: 30px;
  }
}

.top-pages-container {
  padding-top: 220px;
}

.user {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-right: 10px;
  img {
    margin-right: 5px;
  }
  p {
    margin-left: 10px;
  }
  .article {
    margin-left: 10px;
  }
}

.search-form {
  margin-top: 10px;
}


/*users-index*/
.article-wrapper,
.users-wrapper,
.users-follow-wrapper,
.favorite-article-wrapper,
.articles {
  min-height: 500px;
  border: 2px solid #fff;
  padding: 100px 200px;
  background: #fff;
  .form-group {
    margin-top: 10px;
  }
  .spot-title {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
  }
  .spot-category {
    border: 1px solid gray;
    display: inline-block;
    padding: 0 8px;
    margin: 0 0 30px 0;
  }
  img {
    display: block;
  }
}

/*articles-show*/
.article-title-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
  img {
    margin-right: 10px;
  }
}

.article-wrapper{
  .article-title-wrapper {
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 10px;
  }
}


.article-content {
  padding: 25px 0;
  border-bottom: 1px solid #C0C0C0;
}

.favorite-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  .favorites-count {
    color: gray;
    font-size: 15px;
    margin-left: 5px;
  }
}

/*forms-error-messages*/
#error_explanation {
  color: red;
}

/*flash*/
.alert {
  margin: 0;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}
