* {
  box-sizing: border-box;
}

h1,h2,h3,li {
  font-weight: 100;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: gray;
}

// nav
.navbar-transparent {
  height: 50px;
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);

  .container {
    padding-top: 0;
  }

  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
}

.btn-white {
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

/* follow-form */
#follow_form {
  margin-top: 15px;
}

.btn-primary {
  background-color: black;
}

.top-pages-wrapper,
.users-new-wrapper,
.users-show-wrapper,
.users-edit-wrapper,
.sessions-new-wrapper,
.myspots-index-wrapper,
.myspots-new-wrapper,
.articles-index-wrapper,
.articles-new-wrapper,
.articles-show-wrapper,
.articles-edit-wrapper,
.tags-show-wrapper, {
  width: 100vw;
  height: 100vh;
  background: image-url('top-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.users-show_follow-wrapper,
.users-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: #C0C0C0;
}

.user-prolife-wrapper {
  background-color: #fff;
  padding: 15px;
}

.container {
  padding-top: 110px;
  h1 {
    font-size: 45px;
    margin-bottom: 30px;
  }
}

.top-pages-container {
  padding-top: 220px;
}


/*myspots-index*/
.myspot-wrapper,
.article-wrapper,
.users-wrapper,
.users-follow-wrapper {
  min-height: 650px;
  border: 2px solid #fff;
  padding: 100px 200px;
  background: #fff;
  .form-group {
    margin-top: 10px;
  }
  .spot-title {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
  }
  .spot-category {
    border: 1px solid gray;
    display: inline-block;
    padding: 0 8px;
    margin: 0 0 30px 0;
  }
  img {
    display: block;
  }
}

/*articles-show*/
.article-title {
  border-bottom: 1px solid gray;
}

.comment-wrapper {
  border-top: 1px solid gray;
}

/*forms-error-messages*/
#error_explanation {
  color: red;
}

/*flash*/
.alert {
  margin: 0;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
