<div class="communities-index-wrapper">
  <div class="container">
    <div class="col-md-offset-2 col-md-8 communities">
      <h1>Communities</h1>
      <% @communities.each do |community| %>
        <div class="community">
          <%= link_to community.name, community_path(community.id), class: "community-name" %>
          <%= image_tag community.user.img, class: "user-img" %>
          <%= link_to community.user.name, user_path(community.user_id), class: "user-name" %>
          <div class="community-explanation">
            <%= community.explanation %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
